# Set default behavior to automatically normalize line endings
* text=auto

# Force LF for markdown, MDX, and JS/TS files
*.md text eol=lf
*.mdx text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
